<h1 class="text-4xl pb-4">Home</h1>

<% if current_user %>
  <div class="flex border rounded-md p-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 self-center stroke-gray-500">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
    <%= form_with url: "/", class: "flex flex-grow" do |f| %>
      <input type="search"
             name="q"
             class="flex-grow p-1 ml-2">
      <%= f.submit hidden: true %>
    <% end %>
  </div>
  <br>
  <%= render "card" %>
<% end %>
